.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.input_wrap {

    min-width: 300px;
    position: relative;
}

.inp{
   margin-top: 5px;
}

input{
    margin-right: 0;
    position: absolute;
    left:50px;
}

.btn {
margin: 5px 50px;
    width: 180px;
}


