.wrap{
    display: flex;
}

.users{
    border: 2px solid brown;
    background: #61dafb;
    width: 40%;

}

.details{
    border: 2px solid brown;
    background: silver;
    width: 60%;
}

.userPost{
    border: 2px solid brown;
    min-height: 200px ;

}